{% extends 'ope_base.html' %} {% load static %} {% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <title>Crear Jornada</title>
    <link rel="stylesheet" href="{% static 'css/Cjornada.css' %}"/>
</head>
<body>
    <br><br><br><br><br><br>
    <main class="container">
        <div class="row">
            <div>
                <form action="{% url 'ope_crear_jornada' %}" method="post" class="card card-body border-primary">
                    <div class="card-header">
                        <h1 class="text-center mb-5">Crear Nueva Jornada</h1>
                    </div>
                    <div class="card-body">
                        {{ error }} {% csrf_token %} {% crispy form %} {{ Invalido }}
                        <div class="gap-5 col-2 mx-auto">
                            <button class="custom-btn btn-1" id="guardar"> Guardar</button>
                            <a class="custom-btn2 btn-2" href="{% url 'ope_home' %}" role="button" id="volver">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
<div class="footer">
    <p>Heavens Fruit. - Todos los derechos reservados ©</p>
</div>
    <script>
        var fecha1 = document.getElementById("id_inicio_jornada_global");
        var fecha2 = document.getElementById("id_salida_jornada_global");
        var fecha3 = document.getElementById("id_inicio_descanso_global");
        var fecha4 = document.getElementById("id_salida_descanso_global");
        var fecha5 = document.getElementById("id_inicio_descanso_global2");
        var fecha6 = document.getElementById("id_salida_descanso_global2");

        fecha1.addEventListener("change", function () {
            fecha2.value = fecha1.value;
            fecha3.value = fecha1.value;
            fecha4.value = fecha1.value;
        });
        fecha5.addEventListener("change", function () {
            fecha6.value = fecha5.value;
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}{% for m in messages %}
        <script>
            Swal.fire({
                title: "JORNADA CREADA CORRECTAMENTE",
                text: "{{m}}",
                icon: "success",
            });
        </script>
    {% endfor %}{% endif %}
</body>
</html>
{% endblock %}