@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{

    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

h1 {

    justify-content: center;
    text-align: center;
    font-family: 'Montserrat'; 
    font-weight: 600;
    font-size: 35px;
}

label{

    font-family: 'Montserrat';
    font-weight: 600;
    margin: 10px;
}


[name="item_busqueda"]{

    width: 10%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e4e4e4;
    font-family: 'Montserrat';
    margin-right: 5px;

}

[name="volver"]{

    position: absolute;
    display: flex;
    left: 90%;

}

/*          Custom Table Boostrap       */

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat'; 
    font-weight: bold;
    text-align: center;
}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;
    
}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;
    
}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;
    
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #006098;
}


.nav-item{

   color: #ffffff; 

}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none
}


.page-link{

    z-index: 3;
    color: #006098(--bs-pagination-active-border-color);
    background-color: #006098;
    border-color: #006098(--bs-pagination-active-border-color);

}