@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    position: relative;
    top: 220px
}

a{

    position: rel;

}

.card {
    width: 380px;
    height: 190px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;

}


.card:hover {
    transform: scale(0.95, 0.95);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.13);
}


.volver {

    position: absolute;
    top: 650px;
    left: 45%;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
}

@media (max-width: 1180px) {


    .container{

        display: grid;
        grid-template-columns: 300px 300px 300px;
        position: relative;
        gap: 10px;
        top: 220px

    }

    .card {

        width: 300px;
        height: 170px;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: 0.4s;

    }

}

@media (max-width:768px) {
    
    .container{

        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 200px;
        position: relative;
        top: 10px;
        left: 10%;
        gap: 10px;

    }
    .card{

        width: 270px;
        height: 160px;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: 0.4s;

    }

    }
    
