@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cards{

    position: absolute;
    top: 250px;

}


.card {
    width: 380px;
    height: 190px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    
}


.card:hover {
    transform: scale(0.95, 0.95);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.13);
}


.volver{

    position: absolute;
    top: 650px;
    left: 45%;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 1366px),
screen and (max-height: 900px) {

    .card {
        width: 300px;
        height: 150px;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        transition: 0.4s;
        position: absolute;
    
    }
    
    
    .card:hover {
        transform: scale(0.95, 0.95);
        box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15),
            -5px -5px 30px 15px rgba(0, 0, 0, 0.13);
    }

}

