@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {

    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
    min-height: 100%;

}

h1 {

    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 40px;
}
label {
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 10px;
}


[name ="numero_item"]{

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e0e0e0;
    font-family: 'Montserrat';
    margin: 5px;
}

[name="porcen_muestreo"]{

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e0e0e0;
    font-family: 'Montserrat';
    margin: 5px;

}

[name="tipo_muestreo"]{

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e0e0e0;
    font-family: 'Montserrat';
    margin: 5px;
}

[name="lider_muestreo"]{

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e0e0e0;
    font-family: 'Montserrat';
    margin: 5px;

}

[name="emp_muestreo"]{

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e0e0e0;
    font-family: 'Montserrat';
    margin: 5px;

}

[name="item_busqueda"] {
    width: 2%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    background-color: #e0e0e0;
    font-family: 'Montserrat';
    margin-right: 5px;
    transition: 0.3s;
}

[name="item_busqueda"]:active,
[name="item_busqueda"]:focus {
    
    width: 10%;
}

[name="volver"]{

    position: absolute;
    display: flex;
    left: 90%;

}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;

}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;

}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: center;

}

.table tbody tr.active-row {
    font-weight: bold;
    text-align: center;
    color: #006098;
}

A:link {
    color: rgb(255, 255, 255);
    text-decoration: none
}

A:hover {
    color: rgb(255, 255, 255);
    text-decoration: none
}

A:visited {
    color: rgb(243, 243, 243);
    text-decoration: none
}

.page-link{

    z-index: 3;
    color: #006098(--bs-pagination-active-border-color);
    background-color: #006098;
    border-color: #006098(--bs-pagination-active-border-color);

}

#muestrear{

    transition: all 300ms ease 0s;
    box-shadow: 0px 8px 15px;
    z-index: 99;

}

#muestrear:hover{

    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

}