@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}


h1 {

    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 102px;
}


.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-weight: bold;
}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: left;

}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: left;

}

.table thead tr {
    background-color: #006098;
    color: #ffffff;
    text-align: left;

}

.table tbody tr.active-row {
    font-weight: bold;
    color: #006098;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none
}

a:visited {
    color: rgb(243, 243, 243);
    text-decoration: none
}
