.main-body {
  background-color: #8e8e8e;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2541%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient2542%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L952.41 0L0 264.06z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 264.06L952.41 0L1481.84 0L0 342.99z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 342.99L1481.84 0L1544.1599999999999 0L0 432.34000000000003z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 432.34000000000003L1544.1599999999999 0L1559.2699999999998 0L0 807.33z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1920 1080L1059.04 1080L1920 656.75z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1920 656.75L1059.04 1080L903.47 1080L1920 428.07z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1920 428.06999999999994L903.47 1080L541.73 1080L1920 327.9599999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1920 327.9599999999999L541.73 1080L321.58000000000004 1080L1920 311.30999999999995z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2541'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='0%25' r='2202.91' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2542'%3e%3cstop stop-color='rgba(81%2c 19%2c 121%2c 1)' offset='0.53'%3e%3c/stop%3e%3cstop stop-color='rgba(52%2c 0%2c 65%2c 0.98)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadein 0.6s;
}

@keyframes fadein {
  0% {
      opacity:0;
  }
  10%{
    opacity: 0.1;
  }
  20%{
    opacity: 0.2;
  }
  30%{
    opacity: 0.3;
  }
  40%{
    opacity: 0.4;
  }

  50%{
      opacity:0.5;
  }
  60%{
    opacity: 0.6;
  }
  70%{
    opacity: 0.7;
  }
  80%{
    opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
  100% {
      opacity:1;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 110px;
}


.icon-registro {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/registro.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-ausentismos {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/ausentismos.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-novedades {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/novedades.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px;
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-descuentos {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/descuentos.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px;
  font-size: 12px;
}

.icon-inventariotr {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/inventario.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-nacionales {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/nacionales.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-porcentajes {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/porcentajes.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}


.icon-calidad {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/calidad.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-tesoreria {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/tesoreria.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-trasportes {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/transporte.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-legalizaciones {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/legalizaciones.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-logout {
  width: 90px; 
  height: 90px;
  border-radius: 8px;
  background-image: url(../img/logout.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  text-align: center;
  line-height: 210px; 
  text-overflow: ellipsis;
  font-size: 12px;
}

.icon-calidad:hover, .icon-ausentismos:hover, .icon-descuentos:hover, .icon-inventariotr:hover, .icon-legalizaciones:hover, .icon-nacionales:hover, .icon-novedades:hover, .icon-porcentajes:hover, .icon-registro:hover, .icon-tesoreria:hover, .icon-trasportes:hover, .icon-logout:hover{

  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

a:link {
  text-decoration: none;
}

a:visited {
  color: rgba(0, 0, 0, 0);
  font-family: arial;
  text-decoration: none
}

span{
  color: aliceblue;
  overflow: hidden;
  white-space: nowrap; 

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.2%;
  width: 100%;
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
}


/*      Animacion Pre-Login     */

body {
  margin: 0;
}


h1 {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 48px;
  padding-right: 130px;
  text-shadow: 0 0 10px #fc84f2;
}


.header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background-image: url(../img/bkhome.png);
  color: white;

}

.inner-header {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 18vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 140px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}


.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.logo {
  width: 170px;
  fill: white;
  display: inline-block;
  vertical-align: middle;
  padding-right: 0px;
}

h5 {

  font-size: 14px;
  font-family: 'Noto Sans Display', sans-serif;
  vertical-align: middle;

}

.custom-btn {
  color: #fff;
  width: 170px;
  height: 50px;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-1 {
  border: none;
  background-color: #ff9aff;
  box-shadow: 0 0 5px #ef97e8;
}

.btn-1:hover {
  box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
}