body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{

    top: 220px;
    position: relative;

}

.volver{

    position: absolute;
    top: 650px;
    left: 45%;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
}
