{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Heavens Corp</title>
    <!-------Boostrap-------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-------Boostrap-------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <!--Googlefonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

{% if user.is_authenticated %}

    <body>
    <div id="header">
        <ul class="nav">
            <li><a href="">Tesoreria</a></li>
            <li><a href="{% url 'nomina_home' %}">Nomina</a>
                <ul>
                    <li><a href="">Ausentismos</a></li>
                    <li><a href="">Descuentos</a></li>
                    <li><a href="">Novedades</a></li>
                    <li><a href="">Registro Horas</a>
                        <ul>
                            <li><a href="{% url 'home_nomina' %}">Talento Humano</a>
                                <ul>
                                    <li><a href="{% url 'crear_empleado' %}">Crear Empleado</a></li>
                                    <li><a href="{% url 'empleados' %}">Ver empleados</a></li>
                                    <li><a href="{% url 'crear_jornada' %}">Ingresar Jornada</a></li>
                                    <li><a href="{% url 'jornadas' %}">Ver Jornada</a></li>
                                    <li><a href="{% url 'crear_festivo' %}">Festivos</a></li>
                                    <li><a href="{% url 'crear_cargo' %}">Cargos</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'ope_home' %}">Operaciones</a>
                                <ul>
                                    <li><a href="{% url 'ope_empleados' %}">Ver empleados</a></li>
                                    <li><a href="{% url 'ope_crear_jornada' %}">Ingresar Jornadas</a></li>
                                    <li><a href="{% url 'ope_jornadas' %}">Ver Jornada</a></li>
                                    <li><a href="{% url 'ope_crear_festivo' %}">Festivos</a></li>
                                    <li><a href="{% url 'ope_crear_cargo' %}">Cargos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'home_operaciones2' %}">Operaciones</a>
                <ul>
                    <li><a href="{% url 'inventariotr' %}">Inventario Tiempo Real</a></li>
                    <li><a href="">Nacionales y Devoluciones</a></li>
                    <li><a href="">Inventario de Salida</a></li>
                    <li><a href="">Porcentajes de Muestreo</a></li>
                </ul>
            </li>
            <li><a href="">Legalizaciones</a></li>
            <li><a href="">Trasportes</a></li>
            <li><a href={% url 'logout' %}>Salir</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <img class="robot" src={% static 'img/robot.png' %} aling="center">
                <h2>Hola</h2>
                <p class="userlog">{{ request.user.first_name }} Bienvenido a la aplicacion de Heavens</p>
            </div>
        </div>
        <p class="lastlog"> Su ultimo inicio de sesión fue: {{ request.user.last_login }}</p>
    </div>


    </body>

{% else %}

    <body style="overflow-x:hidden">
    <header>
        <div class="header">
            <!--Contenido antes de las olas-->
            <div class="inner-header flex">
                <h1><img class="logo" src="{% static 'img/logowhite.png' %}">Heavens Fruits SAS</h1>
            </div>
            <a href="{% url 'login' %}" class="cards_link">
                <button class="custom-btn btn-1">Iniciar Sesion</button>
                <!--Container de Olas-->
                <div>
                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave"
                                  d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                        </defs>
                        <g class="parallax">
                            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"></use>
                            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
                            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"></use>
                        </g>
                    </svg>
                </div>
                <!--Fin de olas-->
        </div>
    </header>
    <div class="footer">
        <p>Heavens Fruit. - Todos los derechos reservados ©</p>
    </div>
{% endif %}
</body>

</html>